input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
	}
	
.cancel,  {
	background-color: #892323;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
	}

